

<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>com.mycompany.commerce.src.main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>com.mycompany.commerce.src.main</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/CreationClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/CreationCommande</url-pattern>
  </servlet-mapping>
</web-app>